@import "reset";
@import "_variables.scss";
@import 'node_modules/coop-frontend-toolkit/styles/_fonts.scss';
@import 'node_modules/coop-frontend-toolkit/styles/_responsive.scss';
@import 'node_modules/coop-frontend-toolkit/styles/_typography.scss';
@import 'node_modules/coop-frontend-toolkit/styles/_logo.scss';




$med-spacer: 42px;

body {
  max-width: 1440px;
  padding: 5%;
}

header {
  height: 100px;
  max-width: 100%;
  background-color: $grey-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $med-spacer;
}

h1 {
  color: #fff;
}

img.logo {
  height: 46px;
  width: 46px;
}
